:root {
  --surface-color: #14385C;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

.card {
  position: relative;
  display: block;
  max-width: 250px;
  height: 260px;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em 2em;

  border-bottom-right-radius: calc(var(--curve) * 1px);
  border-bottom-left-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card:hover .card__header {
  border-radius: calc(var(--curve) * 1px);
  transform: translateY(0);
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: white;
}

.card__status {
  font-size: .8em;
  color: rgb(224, 221, 221);
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: rgb(224, 221, 221);
  font-family: "MockFlowFont";
  overflow: hidden;
}